{% extends "layout.jade" %}
- var title = "Login"
{% block body %}
form(action="{{ url_for('login') }}", method="post")
    .form-group
        label(for="username")
        input.form-control(type="text", name="username", id="username", placeholder="User name")
    .form-group
        label(for="password")
        input.form-control(type="password", name="password", id="password", placeholder="Password")
    button.btn.btn-primary(type="submit") Login
{% endblock %}